<style>
    body {
      font: 15px sans-serif;
      background: pink;

    }
    path {

     stroke-width: 2;
     fill: none;
   }
    .line {

      stroke-width: 2px;
    }
   .axis path,
   .axis line {
     fill: none;
     stroke: grey;  /*x and y axis line*/
     stroke-width: 1.5;
   }
 </style>